a {
	text-decoration: none;
	color: blue;
}

body {
	font-family: Verdana;
	font-size: 10pt;
	margin: 0;
}

.content_left {
	float: left;
	left:20px;
	position:relative;
	padding-bottom:15px;
}

.content_right {
	float: right;
	right:20px;
	position:relative;
	border:1px solid black;
	padding-top:5px;
	padding-bottom:15px;
	background-color:#00438a;
}

table {
	text-align: left;
}

table td {
	vertical-align: top;
}

div#header {
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 1024px;
	background-image: url("../img/header.jpg");
	background-size: 1024px 100px;
    background-repeat: no-repeat;
}

div#menu {
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 1024px;
	background-color:black;
	color:#3c95f7;
}

div#menu a {
	color:#3c95f7;
}

div#menu_pages {
	float: left;
	left: 10px;
	position: relative;
	top: 5px;
}

div#menu_logoff {
	float: right;
	right:10px;
	position: relative;
	top: 5px;
}

div#content {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	text-align: center;
	width: 1024px;
}

div#footer {
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 1024px;
	clear:both;
	background-image: url("../img/footer3.jpg");
	background-size: 1024px 50px;
    background-repeat: no-repeat;
}

#errortxt {
	color:#3c95f7;
	font-weight:bold;
	font-size:11px;
}

.errortxt, .trerror, .spanconfmsg {
	color:#3c95f7;
	font-weight:bold;
	font-size:11px;
}

.trerror {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.disabledlink {
   pointer-events: none;
   cursor: default;
}

span.subtitle {
	font-size:11px;
}

span.title {
	font-size: 18pt;
	font-weight: bold;
}

table.edition td:first-child {
	font-weight: bold;
	text-align: right;
}

table.edition {
	margin-left:auto;
	margin-right:auto;
}

.passwdmsg {
	font-size:11px;
	font-weight:normal;
}

.table_item_info {
	border: 1px solid black;
	background-color:white;
	text-align:center;
	border-collapse:collapse;
	width:300px;
	font-size:12px;
}

.span_item_info_titre {
	font-weight:bolder;
	font-size:14px;
	color:white;
}

.table_item_info td:first-child {
	width:100px;
	font-weight:bold;
	text-align:right;
}

.table_item_info td:nth-child(2) {
	text-align:left;
	padding-left:5px;
}

.table_list {
	align:center;
	background-color:white;
	color:black;
	border: 1px solid black;
	border-collapse: collapse;
	font-size:12px;
}

.table_list_ext {
	align:center;
	background-color:white;
	color:black;
	border: 1px solid black;
	border-collapse: collapse;
	font-size:12px;
}

.fake_link {
    color: blue;
    cursor: pointer;
}

.table_list td {
	padding:5px;
}

.table_list td:first-child {
	width:220px;
}

.table_list td:nth-child(2) {
	width:150px;
}

.table_list td:nth-child(3) {
	width:75px;
}

.table_list td:nth-child(4) {
	width:75px;
}

.table_list_ext td:first-child {
	width:10px;
}

.table_list_ext td:nth-child(2) {
	width:220px;
}

.table_list_ext td:nth-child(3) {
	width:150px;
}

.table_list_ext td:nth-child(4) {
	width:75px;
}

.table_list_ext td:nth-child(5) {
	width:75px;
}

.table_list tr:first-child {
	font-weight:bold;
	text-align:left;
	background-color:black;
	color:#3c95f7;
	border: 1px solid black;
	border-collapse: collapse;
}

 .table_list_ext tr:first-child {
	font-weight:bold;
	text-align:left;
	background-color:black;
	color:#3c95f7;
	border: 1px solid black;
	border-collapse: collapse;
 }
 
tr {
    border-bottom: 1px dashed black;
    border-top: 1px dashed black;
}

tr.fonce {
	font-weight:bolder;
}

.btn {
  background: #00438a;
  background-image: -webkit-linear-gradient(top, #00438a, #2980b9);
  background-image: -moz-linear-gradient(top, #00438a, #2980b9);
  background-image: -ms-linear-gradient(top, #00438a, #2980b9);
  background-image: -o-linear-gradient(top, #00438a, #2980b9);
  background-image: linear-gradient(to bottom, #00438a, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 11px 8px 10px;
  text-decoration: none;
  outline:none;
}

.btn:hover {
  text-decoration: none;
}